<h2>Welcome to to Travis' Personal Feelings Blog!</h2>

<ol>
  <% posts.each do |post| %>
  <li><a href='/posts/<%= post.id %>'style='text-decoration:none'><%= post.title %></a></li>
  <% end %>
</ol>
